nav {
    display: flex;
    direction: row;
    justify-content: flex-end;
    align-content: space-around;
    padding: 5px;
    align-items: center;
}

nav span {
    margin: 5px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.SearchBar {
    padding: 0.5em;
    background-color: white;
    border-radius: 1em;
}

.Wrapper {
    display: flex;
    direction: row;
    align-items: center;
    background: linear-gradient(to bottom right, #D9DDDC, gray);
    border-radius: 1em;
    width: 20.8em;
    height: 2.7em;
}

.mainpart {
    margin-left: 42.5%;
}