nav {
    display: flex;
    direction: row;
    justify-content: flex-end;
    align-content: space-around;
    padding: 5px;
    align-items: center;
}

nav span {
    margin: 5px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    width: calc(100px + 25vw);
}

input:focus {
    outline: none;
}

.SearchBar {
    padding: 0.5em;
    background-color: white;
    border-radius: 1em;
    border: solid;
    border-width: 0.5px;
    border-color: gray;
    width: auto;
}

.main1 {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}